body {
    font-size: 16px;
    font-family: "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}

.button.start {
    float: left;
    width: 30%;
    min-width: 130px;
    max-width: 200px;
    height: 40px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #68779a;
    box-sizing: border-box;
    background: #cbe8fa;
    cursor: pointer;
}

.counter {
    float: left;
    width: 70%;
    min-width: 200px;
    max-width: 500px;
    margin: 15px;
}

.time {
    float: left;
    margin-right: 2em;
}

.time-space {
    margin-left: .5em;
}

.score {
    float: left;
}

#progress-bar {
    width: 100%;
    max-width: 300px;
}

.top {
    overflow: hidden;
}

.message {
    width: auto;
    margin-left: 15px;
}

.board {
    width: 90vw;
    min-width: 400px;
    max-width: 600px;
    height: 75vh;
    max-height: 800px;
    margin: 10px;
}

.board.loading {
    display: none;
}

/* 横幅が1/3、縦横比固定、はみ出し部分非表示 */
/* 縦ちょっと長くして、.cardのwidthを120%とかにするとさらにきれいに切れそうだけど、今のでもいいかな */
.card-container {
    position: relative;
    float: left;
    width: calc(100% / 3);
    max-width: 200px;
    overflow: hidden;

    aspect-ratio: 4/5.3;
    filter: grayscale(100%);
}

.card-container.alive {
    cursor: pointer;

    filter: grayscale(0%);

    /* 左上と右下にかけることでそれっぽく */
    filter: drop-shadow(4px 4px 3px #0ce4f7) drop-shadow(-4px -4px 3px #0ce4f7);
}

/* コンテナのサイズで、コンテナ中央に表示 → 上下がはみ出して消える */
.card {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.card.selected, .card.selected:hover {
    filter: drop-shadow(4px 4px 3px #0c51ff) drop-shadow(-4px -4px 3px #0c51ff);
}


.hero-container {
    position: relative;
    float: left;
    width: calc(100%/ 3);
    max-width: 200px;
    overflow: hidden;

    aspect-ratio: 4/5.3;
    filter: grayscale(100%);
}

.hero-container.alive {
    filter: grayscale(0%);
}

.hero {
    /* これもobject-fit: coverでできるような気もするけど、めっちゃずれるので、直接ずらす */
    position: absolute;
    top: -25%;
    left: -45%;
    width: 175%;
}

/* 以下、それっぽくしてるけどよくわかってない */
.card-stats-width {
    position: absolute;
    width: 40px;
}

.card-attack-width {
    bottom: 5%;
    left: 8%;
}

.card-health-width {
    right: 8%;
    bottom: 5%;
}

.card-stats-height {
    position: relative;
    height: 0;
    padding-top: 100%;
    border-radius: 50%;
}

.card-attack-height {
    background: rgb(255, 233, 167);
}

.card-health-height {
    background: rgb(255, 108, 108);
}

.card-stats {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.75;
    text-align: center;
}

.card-attack {
    bottom: 0;
    left: 0;
}

.card-health {
    right: 0;
    bottom: 0;
}

.hero-hp-width {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 50px;
    /* なんかこっちではclampが使えない? */
}

.hero-hp-height {
    position: relative;
    height: 0;
    padding-top: 100%;
    border-radius: 50%;
    background: rgb(214, 214, 214);
}

.hero-hp {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 25px;
    line-height: 2;
    text-align: center;

    user-select: none;
}

/* 
.hero {
    float: left;
    width: calc(100% / 3 - 30px);
    height: calc(100% / 3 - 30px);
    margin: 5px;
    border: 1px solid #999999;
    box-sizing: border-box;
    background: #ffffff;
    text-align: center;
} */

/* 
#loading {
    display: none;
}

.main {
    display: none;
}

#next {
    width: 130px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
}

.card {
    margin: 10px;
}

.select {
    width: 50px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
}

.dead .name {
    text-decoration: line-through
} */